
main {
    display: flex;
    flex-direction: column; 

}

#game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh; 
    background-image: url(../images/Viridian-Forest.png);
    background-size: cover;
    background-repeat: no-repeat;
}
 
#flappymon-logo {
    width: 30vw; 
    margin-top: 200px;
}

#game-text {
    width: 60vw;
    height: auto; 
    margin: 50px 0px; 
    padding: 10px 20px;
    background-color: white;
    border: 5px solid black;
    box-shadow: 10px 7px 7px lightgrey;
}
#start-button-container {
    display: flex;
    align-items: center;
}

#start-button {
    background-color: white;
    font-size: 50px;
    padding: 10px 20px;
    border-radius: 20px;
    border: black 5px solid; 
}

.pidgey {
    width: 200px;
    height: auto; 
}

.inverted {
    transform: scaleX(-1);
}

.game-borders {
    border:  rgba(115, 191, 230, 1) solid 5px; 
    border-radius: 10px;
}

#game-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/pixel-art-sky.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#stats-container {
    display: block;
    text-align: center;
    padding: 0px 15px 5px; 
    background-color: white;
    margin-bottom: 20px;
}
#stats-container p {
    font-size: 20px;
}

#score {
    font-size: 40px;
}

#game-screen {
    display: block;
    overflow: hidden;
}

.fade-in {
    inset: 0,5;
    background-image: url(/images/image.png);
    background-size: cover;
    background-position: center center;
    animation: fade-day 90s linear infinite;
}

@keyframes fade-day {
    from {
        background: url(/images/image.png);
        background-size: cover;
        background-position: center center;
    }
    33.33% {
        background: url(/images/midday.png);
        background-size: cover;
        background-position: center center;
    }
    66.66% {
        background: url(/images/night.png);
        background-size: cover;
        background-position: center center;
    }
    to {
        background: url(/images/image.png);
        background-size: cover;
        background-position: center center;
    }
}


#game-end {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/end-screen.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 175px , 0px;
}

#restart-button {
    margin-top: 200px;
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
   
}

.restart-text{
    border: black 5px solid;
    background-color: white;
    box-sizing: content-box;
    box-shadow: lightgrey 7px 7px 7px;
    width: 60vw;
    height: auto;
    margin: 50px 0px;
    padding: 10px 20px;
}
