
main {
    display: flex;
    flex-direction: column; 

}

#game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 175px 0px;
    background-image: url(../images/Viridian-Forest.png);
    background-size: cover;
    background-repeat: no-repeat;
}
 
#flappymon-logo {
    width: 30vw; 
    margin-top: 100px;
}

#game-text {
    width: 60vw;
    height: auto; 
    margin: 50px 0px; 
    padding: 10px 20px;
    background-color: white;
    border: 5px solid black;
    box-shadow: 10px 7px 7px lightgray;
}
#start-button-container {
    display: flex;
    align-items: center;
}

#start-button {
    background-color: white;
    color: black;
    font-size: 50px;
    padding: 10px 20px;
    border-radius: 20px;
    border: black 5px solid; 
}

.pidgey {
    width: 200px;
    height: auto; 
}

.inverted {
    transform: scaleX(-1);
}

#game-contianer {
}

#stats-container {
    display: none;
    text-align: center;
}

#game-screen {
    display: none;
}

#game-end {
    display: none;
}
