
main {
    display: flex;
    flex-direction: column; 

}

#game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh; 
    background-image: url(../images/Viridian-Forest.png);
    background-size: cover;
    background-repeat: no-repeat;
}
 
#flappymon-logo {
    width: 30vw; 
    margin-top: 200px;
}

#game-text {
    width: 60vw;
    height: auto; 
    margin: 50px 0px; 
    padding: 10px 20px;
    background-color: white;
    border: 5px solid black;
    box-shadow: 10px 7px 7px lightgrey;
}
#start-button-container {
    display: flex;
    align-items: center;
}

#start-button {
    background-color: white;
    color: black;
    font-size: 50px;
    padding: 10px 20px;
    border-radius: 20px;
    border: black 5px solid; 
}

.pidgey {
    width: 200px;
    height: auto; 
}

.inverted {
    transform: scaleX(-1);
}

#game-container {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 20px 0px; 
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#stats-container {
    display: block;
    text-align: center;
}

#game-screen {
    display: block;
    border: 1px solid black;
    position: relative;
    overflow: hidden;

}

.fade-in {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    inset: 0;
    background-size: cover;
    background-position: center center;
    opacity:0;
    animation-name: fade-day;
    animation-duration: 45s;
    animation-iteration-count: infinite;
}

.fade-in :nth-child(1) {
    animation-delay: 0s;

}

.fade-in :nth-child(2) {
    animation-delay: 15s;
}

.fade-in :nth-child(3) {
    animation-delay: 30s;
}

@keyframes fade-day {
    
    0% {
        opacity: 0;
        transform: scale(100%);
    }
    16.66% {
        opacity: 1;
    }
    33.33% {
        opacity: 1;
    }
    48.66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#game-end {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/end-screen.png);
    background-repeat: no-repeat;
    background-size: cover;

    
    padding: 175px , 0px;
}
#background-screen{  
    background-image:url(../images/end-screen.png);
    background-size:cover;

}
#restart-button {
    margin-top: 200px;
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
   
}
.restart-text{
    border: black 5px solid;
    background-color: white;
    box-sizing: content-box;
    box-shadow: lightgrey 7px 7px 7px;
    width: 60vw;
    height: auto;
    margin: 50px 0px;
    padding: 10px 20px;
}
